body {
background-color:black;
color:white;
}

p{
font-size:30px;
font-family:fantasy;
color:#6bff33;
}

p1{
font-size:20px;
font-family:sparkle;
color:white;
}

p2{
font-size:20px;
font-family:sparkle;
color:pink;
}

img{
float: rigth;
}

cues{
font-size:40px;
color:#6bff33;
}

pp{
font-size:60px;
font-family:fantasy;
color:#f136fd;
}



